header {
  background-color: #2874f0;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.brand {
  font-size: 28px;
}

ul {
  list-style: none;
  font-size: 20px;
}
li {
  margin-left: 1rem;
  margin-right: 1rem;
}
.menu {
  display: flex;
  /* background-color: black; */
  justify-content: space-between;
}

.product-container {
  /* background-color: black; */
  /* min-width: 100vw; */

  min-height: 100vh;
  display: flex;
}
.product-img {
  width: 150px;
  height: 180px;
}
.product-card {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  max-width: 20%;
  max-height: 500px;
}
